<div class="game-title">
  {{ gameTitle }}
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formArrayName="players">
    <label for="players">Players</label>
    <div id="players" *ngFor="let player of players.controls; let i = index">
      <input class="player-name-input" type="text" placeholder="Player Name" [formControlName]="i" />
      <button class="btn-remove-player" *ngIf="players.length > minPlayers" (click)="removePlayer(i)">Remove</button>
      <div *ngIf="player.errors?.['maxlength']">
        Max 15 characters
      </div>
    </div>
    <button *ngIf="players.length < maxPlayers" (click)="addPlayer()"><span>Add Player</span></button>
  </div>

  <br>
  <label [for]="maxScoreInput">Max score</label>
  <input [id]="maxScoreInput" type="number" placeholder="Max Score" step="1000" [formControlName]="maxScoreInput" />

  <div style="margin-bottom: 20px;" *ngIf="
      myForm.get(maxScoreInput)?.invalid && myForm.get(maxScoreInput)?.touched
    ">
    <div *ngIf="myForm.get(maxScoreInput)?.errors?.['required']">
      This field is required.
    </div>
    <div *ngIf="myForm.get(maxScoreInput)?.errors?.['min']">
      The number must be greater than {{ minScore }}.
    </div>
    <div *ngIf="myForm.get(maxScoreInput)?.errors?.['max']">
      The number must be less than {{ maxScore }}.
    </div>
  </div>

  <button type="submit" [disabled]="myForm.invalid" (click)="onSubmit()">
    <span>Start Game</span>
  </button>
</form>