@import '../../_variables'

.game-title
  font-size: 4rem
  margin: 50px 0
  text-align: center
  color: $success-color

form
  display: flex
  flex-direction: column
  max-width: 400px
  margin: 20px auto
  padding: 20px
  border: 1px solid #ccc
  border-radius: 8px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
  background-color: $color-light-gray
  font-size: 1.5rem

  label
    margin-bottom: 8px
    display: block

input
  padding: 10px
  margin-bottom: 20px
  border: 1px solid #ccc
  border-radius: 4px
  width: 100%
  box-sizing: border-box
  font-size: 1.5rem

.btn-remove-player
  padding: 5px
  margin-bottom: 2px

.player-name-input
  display: inline-block
  width: 80%
  margin-right: 10px

  button
    display: inline-block
